<!DOCTYPE html>
<html>
  <head>
    <title>Phaniraj's Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <%= favicon_link_tag asset_path 'favicon.ico' %>
  </head>

  <body>
    <%= render partial: 'shared/nav' %>
    <div class="container">
      <%= render partial: 'shared/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
